@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #028a0f;
  --hover-color: #234f1e;
  --background-main-color: #eee;
  --font-size: 16px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

::selection {
  background: var(--main-color);
  color: #fff;
}

::-moz-selection {
  background: var(--main-color);
  color: #fff;
}

::-webkit-selection {
  background: var(--main-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.9375rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-main-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.nav-bar-superior {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0 0.9375rem;
}

.seccion-icono-espwa {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.incono-espwa {
  height: 3.125rem;
  width: 6.25rem;
  margin: 0;
  padding: 0;
}

.seccion-nota {
  margin: 0;
  padding: 9.375rem 0.9375rem 0.9375rem 0.9375rem;
  text-align: left;
}

.texto-espwa {
  color: #555;
  font-size: 2.8125rem;
  font-weight: 700;
}

.seccion-tiempo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.9375rem;
}

.secciones-digitos{
  height: auto;
  width: 6.25rem;
  background: #fff;
  border-radius: 0.9375rem;
  margin: 0 0.9375rem;
  padding: 0;
}

.nombre-digitos{
  color: #fff;
  background: #028a0f;
  border-radius: 0.9375rem 0.9375rem 0 0 ;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding: 0.3125rem;
}

.digitos-horas,
.digitos-minutos,
.digitos-segundos{
  color: #028a0f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.125rem;
  font-weight: 700;
  margin: 0;
  padding: 0.3125rem;
}

.seccion-footer {
  margin: 0;
  padding: 9.375rem 0.9375rem 0.3125rem 0.9375rem ;
  bottom: 0;
  height: auto;
  width: auto;
}

.seccion-redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 2.8125rem 0;
}

.iconos-redes-sociales {
  color: #555;
  height: 1.875rem;
  width: 1.875rem;
  margin: 0;
  padding: 0;
}

.iconos-redes-sociales:hover {
  color: #028a0f;
}

.texto-footer {
  color: #777;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* RWD */
@media (max-width: 1024px) {
  .texto-espwa {
    font-size: 2.8125rem;
  }
}

@media (max-width: 768px) {
  .texto-espwa {
    font-size: 2.34375rem;
  }
}

@media (max-width: 480px) {

  .texto-espwa {
    font-size: 1.875rem;
  }
}